[DEFAULT]
appname = "scul86's sfwPorn Showerthoughts thing v1.07"

[IMGUR]
id = c652f25a2845065
secret = f1867df0842de549a01c5739680c9eec59e99508

[IMAGES]
logic = and
minimumwidth = 1000
minimumheight = 1000

[REFRESH]
# Hours
refreshrate = 1

[SUBREDDITS]
imagesubs = dalle2
textsubs = dalle2
numberposts = 200

[FILEPATHS]
template = .
display = .
log = .

[LOGGING]
# Valid values are 'debug', 'info', 'warn', 'error', or 'critical'
level = debug
